@model IEnumerable<StoreFront.Data.Order_table>
@using Week_3_Intern_Assignment.Models

@{
    ViewBag.Title = "OrdersAdmin";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="jumbotron" style="border-style: dashed double dashed double; border-width: 5px; border-color: #000080 #4166f5 #000080 #4166f5; font-family: 'Agency FB'; font-variant: normal; text-transform: inherit;">
    <div class="row" style="height:10px">
        <img alt="" src="~/Images/golfer-black.png" style="width: 155px; height: 139px; margin-left:-10px; margin-top:-25px" />
    </div>
    <h1 style="font-size: 40pt"><strong style="font-family: 'Agency FB'; color: #000080;">OrdersAdmin</strong></h1>
    <p style="font-size: x-large; color: #4166F5;">Listing of all orders in the application.</p>
</div>
<div class="container">
    <table class="table text-center">
        <tr>
            <th>
            </th>
            <th style="font-family:'Agency FB'; font-weight: bold; font-size: 20pt;">
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th style="font-family:'Agency FB'; font-weight: bold; font-size: 20pt;">
                User name
            </th>
            <th style="font-family:'Agency FB'; font-weight: bold; font-size: 20pt;">
                Order Date
            </th>
            <th style="font-family:'Agency FB'; font-weight: bold; font-size: 20pt;">
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th style="font-family:'Agency FB'; font-weight: bold; font-size: 20pt;">
                Status
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="font-family:'Agency FB'; font-size: 15pt; ">
                    @Html.ActionLink("Edit", "OrderAdminDetails", "Order", new { orderID = item.OrderID }, null)
                </td>
                <td style="font-family:'Agency FB'; font-size: 15pt; ">
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td style="font-family:'Agency FB'; font-size: 15pt; ">
                    @Html.DisplayFor(modelItem => item.User_table.UserName)
                </td>
                <td style="font-family:'Agency FB'; font-size: 15pt; ">
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td style="font-family:'Agency FB'; font-size: 15pt; ">
                    $@Html.DisplayFor(modelItem => item.Total)
                </td>
                <td style="font-family:'Agency FB'; font-size: 15pt;">
                    @Html.DisplayFor(modelItem => item.Status_table.StatusDescription)
                </td>
            </tr>
        }

    </table>
</div>
