@model IEnumerable<StoreFront.Data.OrderProduct_table>

@{
    ViewBag.Title = "Products";
}

<hr />
<table class="table">
    <tr>
        <th style="font-family:'Agency FB'; font-weight: bold; font-size: 20pt;">
            OrderID
        </th>
        <th style="font-family:'Agency FB'; font-weight: bold; font-size: 20pt;">
            ProductID
        </th>
        <th style="font-family:'Agency FB'; font-weight: bold; font-size: 20pt;">
            Product Name
        </th>
        <th style="font-family:'Agency FB'; font-weight: bold; font-size: 20pt;">
            Quanitity
        </th>
        <th style="font-family:'Agency FB'; font-weight: bold; font-size: 20pt;">
            Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="rowItem-@item.OrderProductID">
            <td id="orderid" style="font-family:'Agency FB'; font-size: 15pt; ">
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td style="font-family:'Agency FB'; font-size: 15pt; ">
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td style="font-family:'Agency FB'; font-size: 15pt; ">
                @Html.DisplayFor(modelItem => item.Product_table.ProductName)
            </td>
            <td style="font-family:'Agency FB'; font-size: 15pt; ">
                <h3 style="font-family:'Agency FB'; font-size: 15pt; float:left;">@Html.TextBox("quantity-" + @item.OrderProductID, item.Quantity)</h3>
                <button ID="updateButton" style="font-family:'Agency FB'; font-size: 12pt; float:left; margin-top:20px; margin-left:3px" OnClick="UpdateQuantity(@item.OrderID, @item.OrderProductID)">Update</button>

            </td>
            <td style="font-family:'Agency FB'; font-size: 15pt; ">
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td style="font-family:'Agency FB'; font-size: 15pt; ">
                <button ID="deleteButton" style="font-family:'Agency FB'; font-size: 15pt; float:left;" OnClick="RemoveItem(@item.OrderID, @item.OrderProductID)">Delete</button>
            </td>
        </tr>
    }

</table>

<script type="text/javascript" src="js/jquery/jquery.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")


