@model IEnumerable<Week_3_Intern_Assignment.Models.ShoppingCartProduct_table>
@using Week_3_Intern_Assignment.Models
@using Week_3_Intern_Assignment.Controllers


@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="jumbotron" style="border-style: dashed double dashed double; border-width: 5px; border-color: #000080 #4166f5 #000080 #4166f5; font-family: 'Agency FB'; font-variant: normal; text-transform: inherit;">
    <div class="row" style="height:10px">
        <img alt="" src="~/Images/golfer-black.png" style="width: 155px; height: 139px; margin-left:-10px; margin-top:-25px" />
    </div>
    <h1 style="font-size: 40pt"><strong style="font-family: 'Agency FB'; color: #000080;">Cart</strong></h1>
    <p style="font-size: x-large; color: #4166F5;">Below are the products you added to your cart.</p>
</div>

<div class="container-fluid">
    <table class="table" id="myCart">
        <tr>
            <th></th>

            <th style="font-family:'Agency FB'; font-weight: bold; font-size: 20pt;">
                Product:
            </th>
            <th style="font-family:'Agency FB'; font-weight: bold; font-size: 20pt;">
                Price:
            </th>
            <th style="font-family:'Agency FB'; font-weight: bold; font-size: 20pt;">
                Quantity:
            </th>
            <th style="font-family:'Agency FB'; font-weight: bold; font-size: 20pt;">
                Subtotal:
            </th>
            <th>

            </th>


        </tr>

        @{
            decimal s = 0;
            decimal sub =0;
        }
        @foreach (var item in Model)
        {
            sub = (decimal)(item.Product_table.Price * item.Quantity);
            s += (decimal)(item.Product_table.Price * item.Quantity);
            <tr id="rowItem-@item.Product_table.ProductID">
                <td>
                    <button ID="deleteButton" style="font-family:'Agency FB'; font-size: 15pt; float:left;" OnClick="RemoveItem(@item.Product_table.ProductID)">Delete</button>
                  
                </td>
                <td>
                    <h3 style="font-family:'Agency FB'; font-size: 15pt; float:left;">@item.Product_table.ProductName</h3>
                </td>
                <td>
                    <h3 style="font-family:'Agency FB'; font-size: 15pt; float:left;">$@item.Product_table.Price.ToString("0.00")</h3>
                </td>
                <td>
                    <h3 style="font-family:'Agency FB'; font-size: 15pt; float:left;">@Html.TextBox("quantity-"+@item.ProductID,item.Quantity)</h3>
                    <button ID="updateButton" style="font-family:'Agency FB'; font-size: 12pt; float:left; margin-top:20px; margin-left:3px" OnClick="UpdateQuantity(@item.Product_table.ProductID)">Update</button>

                </td>
                <td>
                    <h3 id="subtotal-@item.ProductID" style="font-family:'Agency FB'; font-size: 15pt; font-weight: bold; float:left;">$@sub.ToString("0.00")</h3>
                </td>
                <td>
                    @if (item.Product_table.ImageFile != null)
                    {
                        <img src="@Url.Content(item.Product_table.ImageFile)" alt="" style="height:100px; width:100px" />
                    }
                </td>

            </tr>

        }

    </table>
    
</div>
<div class="row">
    
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3" ></div>
    <div class="col-md-3">
    <table>
        <tr>
            <td colspan="5" style="font-family:'Agency FB'; font-weight: bold; font-size: 25pt; ">Total: </td>
            <td> </td>
            <td id="CartTotal" align="right" style="border-style: dashed double dashed double; border-width: 5px; border-color: #000080 #4166f5 #000080 #4166f5; font-family: 'Agency FB';  text-transform: inherit; font-weight: bold; font-size: 25pt; float:right">$@s.ToString("0.00")</td>
        </tr>
        <tr> </tr>
    </table>
    </div>
</div>
<button style="font-family:'Agency FB'; font-weight: bold; font-size: 15pt;">@Html.ActionLink("Continue Shopping", "Index", "Search")</button>
<button style="font-family:'Agency FB'; font-weight: bold; font-size: 15pt;margin-left:5px;">@Html.ActionLink("Place Order", "PlaceOrder", "PlaceOrder")</button>

<script type="text/javascript" src="js/jquery/jquery.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script> 
@section scripts
{
<script>
    function RemoveItem(idFromButton) {
        var name = "rowItem-" + idFromButton;
        $.ajax({
            type: "POST",
            url: "@Url.Action("Delete", "Cart")",
            data: { id: idFromButton },
            success: function (data) {
                $("[id^=" + name + "]").fadeOut(1000);
                $("#CartTotal").text("$"+data.total);
            }
        });

    }
    function UpdateQuantity(idFromButton) {
        var name = "quantity-" + idFromButton;
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateQuantity", "Cart")",
            data: { id: idFromButton, quantity: $("#quantity-" + idFromButton).val() },
            success: function (data) {
                $("#quantity-" + idFromButton).text(data.quantity);
                $("#subtotal-" + idFromButton).text("$"+data.subtotal).fadeIn(1000);
                $("#CartTotal").text("$"+data.total);
            }
        });

    }



</script>
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
